/* /Pages/Bus/Add.razor.rz.scp.css */
.col-2[b-hmxotplolj] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 10px;
}
/* /Pages/Bus/Edit.razor.rz.scp.css */
.c-2[b-uczx0e8tej] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-bottom: 10px;
}
/* /Pages/Bus/List.razor.rz.scp.css */
.mt-10[b-n155d72358]
{
    margin-top: 10px;
    margin-bottom: 10px;
}
